*{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    
}

:root{
    --font-rem: 3rem;
    --padding: 45px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    background-color: #fef8f3;
}

.main{
    display: flex;
    flex-direction: row;
    min-height: 100vh;

}

.photo-card,.form-section{
    display: flex;
    flex-direction: column;
}

.photo-card{
    position: relative;
    min-width: 30vw;
    height: 100vh;  
}
.card-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo{
    height: var(--font-rem);
    cursor: pointer;
}

.card-body{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    top: 20vh;
    font-size: var(--font-rem);
    font-family: 'Pacifico', cursive;
    overflow: hidden;
}

.form-section{
    min-width: 70vw;
    min-height: 100%;
    display: flex;
    justify-content: center;  
}

.form-paragraph > p{ 
    width: 950px;

}

.form-paragraph > p:nth-child(3){
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

#submit-form > div{
    padding-left: var(--padding);
    padding-top: var(--padding);
}

.forms-contain{
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding-left: 30px;
}

.create-account{
    padding-bottom: var(--padding);
}

h1{
    font-size: 42px;
    padding-bottom: var(--padding);
}

.input{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    margin-bottom: var(--padding);
    
}

input{
    border-radius: 8px;
}

input:focus{
    outline: none;
    border: 2px solid #ff9aa2;
}

p > strong{
    cursor: pointer;
    color: #ff9aa2;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > div{
    padding-right: 10px;
}

