body{
    display: flex;
    flex-direction: column;
    
}
.main{
    display: flex;
    flex-direction: row;

}

.photo-card,.form-section{
    display: flex;
    flex-direction: column;
}

.photo-card{
    position: relative;
    width: clamp(30%,8rem,60%);
    
}
.card-image{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.card-body{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 6.2em;
    font-family: roboto;
    
}

